<div class="container">
  <div class="date">

    <div>
      <img src="/assets/images/back.png" class="img" (click)="preview()">
    </div>
    <div>
      <h1>
        {{displayMonth}}

      </h1>
      <input type="button" (click)="setCurrentMonth()" value="today" />
    </div>

    <div>
      <img src="/assets/images/next.png" class="img" (click)="next()">
    </div>
  </div>

  <table class='calendar-table' *ngIf="calendar">
    <thead>
      <tr>
        <th *ngFor="let day of days">
          {{day}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | chunk: 7; let i = index">
        <!-- getDay() != 1 -->
        <td 
          (click)="markDay(calendarDay)"
          *ngFor="let calendarDay of row; let j = index" 
          [ngClass]="{
            'weekend': calendarDay.date.getDay()===0||calendarDay.date.getDay()===6,
            'tomato-date':calendarDay.isActive
          }"
          >
          <div [class.tomato-date]="calendarDay.isToday">
            <strong>
              {{calendarDay.date.getDate()}}
            </strong>
          </div>
        </td>
      </tr>


    </tbody>
  </table>
</div>